[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
frida = "*"
coloredlogs = "*"
graypy = "*"
redis = "*"

[scripts]
rasp4php = 'python main.py'
debug-rasp4php = 'python main.py --debug'
