{
  onEnter: function (args) {
      var message = {
          function: "",
          args : [],
          filename: "",
          lineno: -1
      };

    send(message);
  },
  /* onLeave: function (retval) {
      // Omit onLeave Callback
  } */
}
